name: Build and Test

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Required for creating releases
      packages: write  # Optional, for future package publishing

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Lint
      run: npm run lint

    - name: Test
      run: npm run test

    - name: Build Asset
      run: npm run build

    - name: Build Container
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        VERSION=${GITHUB_REF#refs/tags/}
        echo "Building version $VERSION"
        docker build -t quay.io/dbewley/ovn-recon:$VERSION .
        if [[ "$VERSION" != *"-"* ]]; then
          docker tag quay.io/dbewley/ovn-recon:$VERSION quay.io/dbewley/ovn-recon:latest
        fi

    - name: Login to Quay.io
      if: startsWith(github.ref, 'refs/tags/v')
      uses: docker/login-action@v3
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_USER }}
        password: ${{ secrets.QUAY_TOKEN }}

    - name: Push Container
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        VERSION=${GITHUB_REF#refs/tags/}
        docker push quay.io/dbewley/ovn-recon:$VERSION
        if [[ "$VERSION" != *"-"* ]]; then
          docker push quay.io/dbewley/ovn-recon:latest
        fi

    - name: Package Helm Chart
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        helm package charts/ovn-recon

    - name: Login to GitHub Container Registry
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        echo ${{ secrets.GITHUB_TOKEN }} | helm registry login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Push Helm Chart to GitHub Container Registry
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        VERSION=${GITHUB_REF#refs/tags/v}
        CHART_VERSION=$(grep '^version:' charts/ovn-recon/Chart.yaml | awk '{print $2}')
        helm push ovn-recon-${CHART_VERSION}.tgz oci://ghcr.io/${{ github.repository_owner }}/charts

    - name: Create GitHub Release
      if: startsWith(github.ref, 'refs/tags/v')
      uses: softprops/action-gh-release@v1
      with:
        generate_release_notes: true
        prerelease: ${{ contains(github.ref_name, '-') }}
        files: |
          ovn-recon-*.tgz
